@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font: "Manrope", serif;
  --secondary-font: "Inter", serif;
  --ternary-font: "Poppins", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--primary-font);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gradient-border {
  border-left: 3.5px solid #0000;
  /* border-image: linear-gradient(#2e3092 17%, #ed1c242e 73%) 1; */
  margin-left: 1rem;
  padding-left: 2.4rem;
  border-style: solid;
  border-radius: 6px;
  position: relative;
  border-image-source: linear-gradient(#2e3092 17%, #ed1c242e 73%);
  border-image-slice: 1;
}

.slider_t .swiper-wrapper {
  padding-top: 4rem;
}
.play_slider .swiper-button-prev {
  left: 1rem;
}
.play_slider .swiper-button-next {
  right: 1rem;
}
.play_slider {
  padding: 0 2rem !important;
}
.play_slider .swiper-button-prev::before,
.play_slider .swiper-button-next::before {
  color: transparent;
  content: "";
  position: absolute;
  background: url(./assets/home/play.svg) center center / contain no-repeat;
  width: 40px;
  height: 40px;
}
.play_slider .swiper-button-prev::after,
.play_slider .swiper-button-next::after {
  color: transparent;
}
.play_slider .swiper-button-next::before {
  transform: rotate(180deg);
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-hover:hover .card-inner {
  transform: rotateY(180deg);
}
.pagination_white .swiper-pagination {
  bottom: 0 !important;
}
.pagination_white .swiper-pagination-bullet {
  background: #6c7699;
  width: 6px;
  height: 6px;
}
.pagination_white .swiper-pagination-bullet-active {
  background: #d9d9d9;
  transform: scale(1.2);
}
.pagination_white {
  padding-bottom: 2.4rem !important;
}

@media (max-width: 767px) {
  .gradient-border {
    border: none;
    padding: 0;
    margin: 0;
  }
  .slider_t .swiper-wrapper {
    padding-top: 0;
  }
}
/* Add this to your CSS file */
.iphone-icon {
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}

.iphone-icon.even {
  animation-name: keyframes1;
  animation-iteration-count: infinite;
  animation-duration: 0.25s; /* You can make this dynamic per item if needed */
  transform-origin: 50% 10%;
}

.iphone-icon.odd {
  animation-name: keyframes2;
  animation-iteration-count: infinite;
  animation-duration: 0.25s;
  animation-direction: alternate;
  transform-origin: 30% 5%;
}
