@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font: "Manrope", serif;
  --secondary-font: "Inter", serif;
  --ternary-font: "Poppins", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--primary-font);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gradient-border {
  border-left: 3.5px solid #0000;
  /* border-image: linear-gradient(#2e3092 17%, #ed1c242e 73%) 1; */
  margin-left: 1rem;
  padding-left: 2.4rem;
  border-style: solid;
  border-radius: 6px;
  position: relative;
  border-image-source: linear-gradient(#2e3092 17%, #ed1c242e 73%);
  border-image-slice: 1;
}

.slider_t .swiper-wrapper {
  padding-top: 4rem;
}
.play_slider .swiper-button-prev {
  left: 1rem;
}
.play_slider .swiper-button-next {
  right: 1rem;
}
.play_slider {
  padding: 0 2rem !important;
}
.play_slider .swiper-button-prev::before,
.play_slider .swiper-button-next::before {
  color: transparent;
  content: "";
  position: absolute;
  background: url(./assets/home/play.svg) center center / contain no-repeat;
  width: 40px;
  height: 40px;
}
.play_slider .swiper-button-prev::after,
.play_slider .swiper-button-next::after {
  color: transparent;
}
.play_slider .swiper-button-next::before {
  transform: rotate(180deg);
}
